@use "../../../styles/variables" as *;

.sustainability {
  padding-top: 130px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }

  .content_wrapper {
    position: relative;
    z-index: 1;
    background: url('../../../public/assets/images/services/un-back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    z-index: 0;
    @media screen and (max-width: $breakpoint_tablet) {
      display: flex;
      padding: 40px;
      flex-direction: column;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      padding: 20px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(#314fb3de 0%, #091336 100%);
      border-radius: 12px;
      z-index: -1;
    }
  }

  .text_section {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media screen and (max-width: $breakpoint_mobile_portrait) {
      gap: 20px;
    }
  }

  .title {
    font-size: 48px;
    font-weight: 600;
    color: $white_color;
    line-height: 1.2;
    margin: 0;
    letter-spacing: -0.5px;
    text-shadow: 0 2px 10px rgba(0, 32, 65, 0.1);

    @media screen and (max-width: $breakpoint_tablet) {
      font-size: 40px;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      font-size: 32px;
    }
  }

  .description {
    font-size: 18px;
    line-height: 1.7;
    color: $white_color;
    margin: 0;

    @media screen and (max-width: $breakpoint_tablet) {
      font-size: 16px;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      font-size: 15px;
    }
  }

  .button_wrapper {
    margin-top: 15px;
    a{
      padding: 15px 25px;
      border-radius: 10px;
      font-size: 16px;
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        padding: 10px 20px;
        font-size: 14px;
      }
      @media screen and (max-width: $breakpoint_small_portrait) {
        padding: 10px 20px;
        font-size: 12px;
      }
    }

    @media screen and (max-width: $breakpoint_mobile_portrait) {
      margin-top: 10px;
    }

  }

  .visual_section{
    text-align: end;
    @media screen and (max-width: $breakpoint_tablet) {
      text-align: left;
      width: 100%;
    }
  img{
    width: 100%;
    height: 100%;
    max-width: 400px;
    margin: 0 auto;
    object-fit: cover;
    @media screen and (max-width: $breakpoint_tablet) {
      max-width: 100px;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      max-width: 100px;
    }
  }
  }

}
