@use "../../../styles/variables" as *;

.mobile_process_timeline {
  padding: 100px 0;
  background: url("../../../public/assets/images/services/dark_bg.png") no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: $breakpoint_tablet) {
    padding: 80px 0;
  }

  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding: 60px 0;
  }

  .heading_wrapper {
    text-align: center;
    max-width: 900px;
    margin: 0 auto 80px;

    @media screen and (max-width: $breakpoint_tablet) {
      margin-bottom: 60px;
    }

    @media screen and (max-width: $breakpoint_mobile_portrait) {
      margin-bottom: 40px;
    }

    h2 {
      font-size: 42px;
      font-weight: 600;
      line-height: 1.4;
      color: $white_color;
      margin: 0 0 10px;

      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 36px;
      }

      @media screen and (max-width: $breakpoint_mobile_portrait) {
        font-size: 28px;
      }
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
      color: rgba(255, 255, 255, 0.9);
      margin: 0;
    }
  }

  .process_timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 17px;
    @media screen and (max-width: $breakpoint_mini_laptop) {
      padding: 0 15px;
      max-width: 700px;
    }
  }

  .process_step {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    min-height: 120px;

    @media screen and (max-width: $breakpoint_mini_laptop) {
      margin-bottom: 50px;
      min-height: 100px;
    }

    @media screen and (max-width: $breakpoint_mobile_portrait) {
      margin-bottom: 40px;
      min-height: 80px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.step_left {
      justify-content: flex-start;

      .step_content {
        order: 1;
        margin-right: 40px;
        text-align: right;

        @media screen and (max-width: $breakpoint_mini_laptop) {
          margin-right: 30px;
        }

        @media screen and (max-width: $breakpoint_mobile_portrait) {
          text-align: left;
          margin-right: 20px !important;
          margin-left: 0 !important;
        }
      }

      .step_circle_wrapper {
        order: 2;
      }
    }

    &.step_right {
      justify-content: flex-end;

      .step_content {
        order: 2;
        margin-left: 40px;
        text-align: left;

        @media screen and (max-width: $breakpoint_mini_laptop) {
          margin-left: 30px;
        }

        @media screen and (max-width: $breakpoint_mobile_portrait) {
          text-align: left;
          margin-right: 20px !important;
          margin-left: 0 !important;
        }
      }

      .step_circle_wrapper {
        order: 1;
      }
    }

    @media screen and (max-width: $breakpoint_mobile_portrait) {
      justify-content: flex-start !important;

      .step_content {
        order: 1 !important;
        margin-left: 20px !important;
        margin-right: 0 !important;
        text-align: left !important;
      }

      .step_circle_wrapper {
        order: 2 !important;
      }
    }
  }

  .step_content {
    flex: 1;
    max-width: 500px;
    transition: all 0.4s ease;

    @media screen and (max-width: $breakpoint_mini_laptop) {
      max-width: 260px;
    }

    @media screen and (max-width: $breakpoint_mobile_portrait) {
      max-width: 100%;
    }

    .step_title {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.3;
      color: rgba(255, 255, 255, 0.8);
      margin: 0 0 12px 0;
      transition: color 0.4s ease;

      @media screen and (max-width: $breakpoint_mini_laptop) {
        font-size: 22px;
      }

      @media screen and (max-width: $breakpoint_mobile_portrait) {
        font-size: 20px;
      }
    }

    .step_description {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.7;
      color: rgba(255, 255, 255, 0.7);
      margin: 0;
      transition: color 0.4s ease;

      @media screen and (max-width: $breakpoint_mini_laptop) {
        font-size: 15px;
      }

      @media screen and (max-width: $breakpoint_mobile_portrait) {
        font-size: 14px;
      }
    }
  }

  .step_circle_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    min-width: 80px;

    @media screen and (max-width: $breakpoint_mobile_portrait) {
      min-width: 60px;
    }
  }

  .step_circle {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    border: 8px solid #00A3FF;
    background: $white_color;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    position: relative;
    z-index: 3;

    @media screen and (max-width: $breakpoint_mobile_portrait) {
      width: 60px;
      height: 60px;
      border-width: 2px;
    }

    .circle_number {
      font-size: 32px;
      font-weight: 600;
      color: $dark_color;
      transition: color 0.4s ease;

      @media screen and (max-width: $breakpoint_mobile_portrait) {
        font-size: 24px;
      }
    }

    &.circle_active {
      background: #00A3FF;
      border-color: $white_color;

      .circle_number {
        color: $white_color;
      }
    }
  }

  .connecting_line {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: calc(100% + 60px);
    background: transparent;
    border-left: 2px dashed $white_color;
    z-index: 1;

    @media screen and (max-width: $breakpoint_mobile_portrait) {
      top: 60px;
      width: 2px;
      height: calc(100% + 110px);
    }

    .line_fill {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-100%);
      width: 3px;
      background: #00A3FF;
      transition: height 0.8s cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 2;
      border-radius: 2px;

      @media screen and (max-width: $breakpoint_mobile_portrait) {
        width: 2px;
      }

      &.line_filled {
        height: 100% !important;
      }
    }
  }

  .process_step.active,
  .process_step.hovered {
    .step_content {
      .step_title {
        color: $white_color;
      }

      .step_description {
        color: rgba(255, 255, 255, 0.9);
      }
    }

    .step_circle {
      background: #00A3FF;
      border-color: $white_color;

      .circle_number {
        color: $white_color;
      }
    }
  }

  .process_step:hover {
    .step_content {
      .step_title {
        color: $white_color;
      }

      .step_description {
        color: rgba(255, 255, 255, 0.9);
      }
    }

    .step_circle {
      background: #00A3FF;
      border-color: $white_color;

      .circle_number {
        color: $white_color;
      }
    }
  }
}
