@use "../../../styles/variables" as *;

.about_services {
  padding-top: 130px;
  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }
  .content_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;

    @media (max-width: $breakpoint_laptop) {
      gap: 40px;
    }
    @media screen and (max-width: $breakpoint_tablet) {
      grid-template-columns: auto;
    }
    .image_wrapper {
      min-width: 100%;
      @media (max-width: $breakpoint_laptop) {
        min-width: 100%;
      }
      img {
        width: 100%;
        height: 520px;
        border-radius: 20px;
        object-fit: cover;
        @media screen and (max-width: $breakpoint_tablet) {
          height: auto;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      .text_block {
        h2 {
          color: $dark_color;
          font-size: 42px;
          font-weight: 700;
          margin-bottom: 20px;
          line-height: 1.4;
          @media screen and (max-width: $breakpoint_tablet) {
            font-size: 38px;
          }
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            font-size: 28px;
          }
        }

        p {
          font-size: 22px;
          line-height: 1.6;
          margin: 0;
          color: $gray_color;
          @media screen and (max-width: $breakpoint_tablet) {
            font-size: 16px;
          }
        }
      }

      .stats {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
        gap: 20px;

        .stat_item {
          display: flex;
          align-items: center;
          gap: 10px;
          .stat_value {
            display: block;
            font-size: 56px;
            font-weight: 700;
            background: linear-gradient(
              331deg,
              rgba(0, 69, 255, 1),
              rgba(0, 163, 255, 1)
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            @media screen and (max-width: $breakpoint_tablet) {
              font-size: 46px;
            }
            @media screen and (max-width: $breakpoint_mobile_portrait) {
              font-size: 38px;
            }
          }

          .stat_label {
            margin: 0;
            font-size: 17px;
            font-weight: 500;
            color: $dark_color;
            word-spacing: 100vw;
            @media screen and (max-width: $breakpoint_tablet) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
