ul li {
  &.menu_active {
    .mini_dropdown {
      display: block;
    }
    .mega_menu_wrapper {
      opacity: 1;
      visibility: visible;
    }
    & > a,
    .menuwrap {
      color: #4273fc !important;
      img {
        filter: none !important;
      }
      &::after {
        left: 0 !important;
        width: 100% !important;
      }
      & > i {
        transform: scale(-1);
      }
    }
  }
}
.mega_menu_wrapper {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  background: white;
  border-radius: 55px 55px 24px 24px;
  width: 95%;
  height: 500px;
  padding-top: 110px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: auto;
  transform: translateX(-50%);
  box-shadow: 0 11px 42px #42424240;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    background-color: #ececec;
    border-radius: 15px 20px 20px 15px;
  }
  & > li {
    margin-bottom: 0px;
    & > a {
      width: 25%;
      font-size: 18px;
      position: relative;
      line-height: 34px;
      color: rgba(0, 0, 0, 1);
      display: flex;
      transition: all 0.4s ease-in-out;
      align-items: center;
      padding: 10px 0 10px 40px;
      @media (max-width: 1600px) {
        font-size: 16px;
        padding-left: 25px;
      }
      &.active {
        background-color: #ffffff;
        color: rgba(0, 0, 0, 1);
        img {
          filter: none;
        }
        & ~ .mega_sub_menu {
          display: flex;
        }
      }
      img {
        margin-right: 10px;
        transition: all 0.4s ease-in-out;
        object-fit: contain;
        filter: brightness(0.3);
        width: 30px;
        height: 30px;
      }
    }
    .mega_sub_menu {
      width: 75%;
      position: absolute;
      right: 0;
      top: 30px;
      z-index: 9;
      height: 465px;
      overflow: auto;
      display: none;
      padding-top: 90px;
      section {
        width: 100%;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        @media (max-width: 1600px) {
          padding: 0 20px;
        }
        &:hover {
          .nav_title {
            border-bottom-color: #4273fc;
            img {
              display: block;
            }
          }
        }
        .nav_title {
          border-bottom: 2px solid transparent;
          color: rgba(0, 0, 0, 1);
          transition: all 0.4s ease-in-out;
          display: inline-flex;
          margin-bottom: 30px;
          font-size: 16px;
          line-height: 31px;
          align-items: center;
          gap: 10px;
          justify-content: flex-start;
          margin-right: auto;
          @media (max-width: 1600px) {
            font-size: 16px;
            margin-bottom: 18px;
          }
          img {
            transition: all 0.4s ease-in-out;
            display: none;
            width: 12px;
            height: 12px;
          }
        }
        .section_wrapper {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          align-items: self-start;
        }
        ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 15px;
          grid-column: span 2;
        }
        li {
          line-height: 1;
          // border: 1px solid #d6d6d6;
          // border-radius: 7px;
          @media (max-width: 1600px) {
            margin-bottom: 0;
          }
          a {
            color: rgba(0, 0, 0, 1);
            font-size: 16px;
            line-height: 28px;
            padding: 12px;
            display: flex;
            align-items: center;
            gap: 7px;
            transition: all 0.4s ease-in-out;
            border-bottom: 1px solid #d6d6d6;
            @media (max-width: 1600px) {
              font-size: 14px;
              line-height: 20px;
            }
          }
          &:hover {
            a {
              color: rgba(29, 67, 84, 0.6);
            }
          }
        }
        .service_img {
          position: relative;
          transition: all 0.4s ease-in;

          &:hover {
            transition: all 0.4s ease-in;

            &::after {
              background-size: 50px;
              width: 50px;
              height: 50px;
              display: block;
              transition: all 0.4s ease-in;
            }
            &::before {
              display: block;
              transition: all 0.4s ease-in;
            }
          }
          &::after {
            content: "";
            background-image: url(../../../../public/assets/images/header/service_img_icon.svg);
            background-repeat: no-repeat;
            background-size: 30px;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9;
            transition: all 0.4s ease-in;
            cursor: pointer;
            display: none;
          }
          &::before {
            content: "";
            background-color: #009dff61;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            transition: all 0.4s ease-in;
          }
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            transition: all 0.4s ease-in;
          }
        }
      }
    }
  }
}
