ul li {
  &.menu_active {
    .mini_dropdown {
      display: block;
    }
    .mega_menu_wrapper {
      opacity: 1;
      visibility: visible;
    }
    & > a,
    .menuwrap {
      color: #4273fc !important;
      img {
        filter: none !important;
      }
      &::after {
        left: 0 !important;
        width: 100% !important;
      }
      & > i {
        transform: scale(-1);
      }
    }
  }
}
.mega_menu_wrapper {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  background: white;
  border-radius: 55px 55px 24px 24px;
  width: 95%;
  height: 500px;
  padding-top: 140px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: auto;
  transform: translateX(-50%);
  box-shadow: 0 11px 42px #42424240;
  .mega_menu_inner {
    padding: 0 25px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 32px;
  }

  .column {
    min-width: 0;
  }

  .title {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 16px;
    text-decoration: none;

    &:hover {
      color: rgba(4, 107, 210, 1);
    }
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 15px;

      a {
        font-size: 14px;
        color: rgba(91, 91, 91, 1);
        font-weight: 400;
        text-decoration: none;
        transition: color 0.2s ease;

        &:hover {
          color: rgba(4, 107, 210, 1);
        }
      }
    }
  }
}
