ul li {
  &.menu_active {
    .mini_dropdown {
      display: block;
    }
    .mega_menu_wrapper {
      opacity: 1;
      visibility: visible;
    }
    & > a,
    .menuwrap {
      color: #4273fc !important;
      img {
        filter: none !important;
      }
      &::after {
        left: 0 !important;
        width: 100% !important;
      }
      & > i {
        transform: scale(-1);
      }
    }
  }
}
.mega_menu_wrapper {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  background-color: #e7ecf8;
  padding: 12px;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.mega_menu_wrp {
  display: flex;
  gap: 12px;
  max-width: 1632px;
  margin: auto;
}

.menu_left {
  width: 75%;
  background: #fff;
  border-radius: 16px;
}

.menu_blocks {
  display: flex;
  flex-wrap: wrap;
  clip-path: inset(2px);
}

.menu_links_wrp {
  width: calc(100% / 4);
  padding: 25px;
  display: flex;
  flex-direction: column;
  border: 0.5px solid #eee;
}

.sub_menu_icon {
  margin-bottom: 16px;
  width: 25px;
  height: 25px;
}

.menu_heading {
  margin-bottom: 12px;
  font-size: 16px;
  color: #000;
  font-weight: 600;
}

.menu_links_wrp ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  list-style: none;
}

.menu_links_wrp ul a {
  font-size: 14px;
  color: #000;
  font-weight: 400;
}

/* RIGHT PANEL */
.menu_right {
  width: 25%;
  background: #0b2240;
  border-radius: 16px;
  padding: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .side_menu_links_wrp{
    margin-bottom: 20px;
  }
  .side_menu_links_wrp ul {
    display: flex;
    gap: 8px;
    padding: 0;
    list-style: none;
  }
  
  .side_menu_links_wrp ul a {
    font-size: 14px;
    color: #000;
    font-weight: 400;
  }
}

.menu_right .menu_heading {
  color: white;
}

.menu_right ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.menu_right ul a {
  padding: 6px 14px;
  border-radius: 100px;
  background: #fff;
  font-size: 14px;
}

/* TAGS */
.f_tag a {
  background: transparent;
  border: 1px solid #4273fc;
}

.trending {
  background: #fe5c19;
}

.next_gen {
  background: #0554ea;
}

/* FEATURED */
.featured_box {
  background: white;
  border-radius: 8px;
  padding: 3px;
  h3 {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 10px;
    margin: 0;
  }
  img {
    border-radius: 8px;
    width: 100%;
    height: auto;
  }
}
