@use "../../../../styles/variables" as *;

.worldwide_solution {
  padding-top: 130px;

  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }
  .content_wrapper {
    .story {
      background: url(../../../../public/assets/images/about_us/our_story.webp);
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: span 2;
      grid-row: span 2;
      min-height: 700px;
      border-radius: 25px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      position: relative;
      @media screen and (max-width: $breakpoint_tablet) {
        padding: 25px;
        min-height: 500px;
      }
      h3 {
        color: $white_color;
        font-size: 40px;
        font-weight: 700;
        margin-top: 50px;
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 32px;
        }
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 28px;
        }
      }
      p {
        font-size: 22px;
        font-weight: 400;
        line-height: 1.6;
        color: #cecece;
        margin: 0;
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 18px;
        }
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 16px;
        }
      }
    }
  }
}
