@use "../../../../styles/variables" as *;

.worldwide_solution {
  padding-top: 130px;

  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }
  .content_wrapper {
    .story {
      background: url(../../../../public/assets/images/about_us/big-ben-tower-houses.webp);
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: span 2;
      grid-row: span 2;
      min-height: 700px;
      border-radius: 12px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      position: relative;
      @media screen and (max-width: $breakpoint_tablet) {
        padding: 25px;
        min-height: 500px;
      }
      h3 {
        color: $white_color;
        font-size: 42px;
        font-weight: 600;
        margin-top: 50px;
        max-width: 465px;
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 38px;
        }
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 28px;
        }
      }
    }
  }
}
