@use "../../../../../../styles/variables" as *;

.ecommerce_services {
  padding-top: 130px;
  position: relative;
  overflow: hidden;
  
  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }


  .section_wrapper {
    position: relative;
    z-index: 1;

      .section_header {
        margin: 0 auto 65px;
        max-width: 1000px;
        text-align: center;
        position: relative;
        
        @media screen and (max-width: $breakpoint_tablet) {
          margin: 0 auto 50px;
        }
        
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          margin: 0 auto 40px;
        }

        h2 {
          color: $dark_color;
          font-size: 42px;
          font-weight: 600;
          line-height: 1.4;
          margin-bottom: 20px;
          
          @media screen and (max-width: $breakpoint_tablet) {
            font-size: 38px;
          }
          
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            font-size: 28px;
          }
        }

        p {
          font-size: 20px;
          line-height: 1.6;
          color: $gray_color;
          margin: 0;
          
          @media screen and (max-width: $breakpoint_tablet) {
            font-size: 18px;
          }
          
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            font-size: 16px;
          }
        }
      }

    .services_grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      position: relative;
      
      @media screen and (max-width: $breakpoint_tablet) {
        grid-template-columns: 1fr;
        gap: 30px;
      }
      
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        gap: 25px;
      }

      .service_card {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        transform-style: preserve-3d;
        cursor: pointer;
        
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          border-radius: 12px;
        }

        .card_background {
          position: absolute;
          inset: 0;
          z-index: 1;
          transition: all 0.5s ease;
        }

        .card_content {
          position: relative;
          z-index: 2;
          padding: 50px 45px;
          flex: 1;
          display: flex;
          flex-direction: column;
          height: 100%;
          
          @media screen and (max-width: $breakpoint_tablet) {
            padding: 40px 35px;
          }
          
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            padding: 35px 28px;
          }

          .card_number {
            position: absolute;
            top: 30px;
            right: 35px;
            font-size: 120px;
            font-weight: 900;
            line-height: 1;
            opacity: 0.12;
            transition: all 0.5s ease;
            color: currentColor;
            
            @media screen and (max-width: $breakpoint_tablet) {
              font-size: 100px;
              top: 25px;
              right: 30px;
            }
            
            @media screen and (max-width: $breakpoint_mobile_portrait) {
              font-size: 80px;
              top: 20px;
              right: 25px;
            }
          }

          .card_header {
            margin-bottom: 25px;
            position: relative;
            
            @media screen and (max-width: $breakpoint_mobile_portrait) {
              margin-bottom: 20px;
            }

            h3 {
              font-size: 28px;
              font-weight: 600;
              line-height: 1.2;
              margin: 0 0 20px;
              color: $white_color;
              transition: all 0.3s ease;
              
              @media screen and (max-width: $breakpoint_tablet) {
                font-size: 28px;
                margin-bottom: 18px;
              }
              
              @media screen and (max-width: $breakpoint_mobile_portrait) {
                font-size: 24px;
                margin-bottom: 15px;
              }
            }

            .card_underline {
              width: 80px;
              height: 5px;
              background: $white_color;
              border-radius: 12px;
              transition: all 0.5s ease;
              opacity: 0.9;
              
              @media screen and (max-width: $breakpoint_mobile_portrait) {
                width: 60px;
                height: 4px;
              }
            }
          }

          p {
            font-size: 17px;
            line-height: 1.8;
            color: rgba(255, 255, 255, 0.95);
            margin: 0;
            
            @media screen and (max-width: $breakpoint_tablet) {
              font-size: 16px;
            }
            
            @media screen and (max-width: $breakpoint_mobile_portrait) {
              font-size: 15px;
            }
          }
        }

        &:hover {
          transform: translateY(-12px) scale(1.02);
          
          .card_background {
            transform: scale(1.05);
          }

          .card_number {
            opacity: 0.2;
            transform: scale(1.1) rotate(-5deg);
          }

          .card_header {
            .card_underline {
              width: 120px;
              
              @media screen and (max-width: $breakpoint_mobile_portrait) {
                width: 90px;
              }
            }
          }

          .card_glow {
            opacity: 1;
          }
        }
      }

      .card_1 {
        .card_background {
          background: linear-gradient(135deg, #0045ff 0%, #262728 50%, #003c99 100%);
        }
      }

      .card_2 {
        .card_background {
          background: linear-gradient(135deg, #00a3ff 0%, #000000 50%, #008db9 100%);
        }
      }
    }
  }
}




