@use "../../../styles/variables" as *;

.our_expertise {
  padding-top: 130px;
  overflow: hidden;
  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }
  .content_wrapper {
    .heading_wrapper {
      max-width: 700px;
      @media screen and (max-width: $breakpoint_tablet) {
        max-width: 570px;
      }
      span {
        font-size: 16px;
        font-weight: 500;
        color: $gray_color;
      }
      .heading {
        font-size: 42px;
        font-weight: 600;
        line-height: 59px;
        margin-top: 25px;
        margin-bottom: 50px;
        color: $dark_color;
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 38px;
          line-height: 1.4;
        }
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 28px;
        }
      }
    }
    .expertiseSwiper {
      margin-top: -175px;
      margin-right: -100px;
      padding-top: 180px;

      @media screen and (max-width: $breakpoint_mobile_portrait) {
        padding-bottom: 50px;
      }

      .block {
        position: relative;

        &:hover {
          .wrapper {
            justify-content: space-between;

            p {
              opacity: 1;
              transform: translateY(0);
              max-height: 120px;
            }
          }
        }

        .bg_img {
          width: 100%;
          height: auto;
          border-radius: 20px 50px 10px 10px;
        }

        .wrapper {
          position: absolute;
          z-index: 9;
          bottom: 0;
          padding: 20px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          .inner_wrapper {
            .inner_img {
              width: 50px;
              height: 50px;
              margin-bottom: 15px;
            }

            h4 {
              color: $white_color;
              font-size: 20px;
              font-weight: 500;
            }
          }

          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: $white_color;
            margin: 0;

            /* Animation setup */
            opacity: 0;
            transform: translateY(10px);
            max-height: 0;
            overflow: hidden;
            transition-delay: 0.1s;
            transition: opacity 0.7s ease, transform 0.7s ease;
          }
        }
      }
    }
  }
}
