@use "../../../styles/variables" as *;
.main_header {
  margin-bottom: -84px;
  z-index: 999;
  position: absolute;
  width: 100%;
  @media (max-width: $breakpoint_laptop) {
    margin-bottom: -64px;
  }
}
.d-xl-none {
  display: none;
  @media screen and (max-width: $breakpoint_tablet) {
    display: block;
  }
}
.mobileHeader {
  background-color: #ffffff;
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
  display: none;
  @media screen and (max-width: $breakpoint_tablet) {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .mobileHeaderPadding {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    span {
      font-size: 32px;
    }
  }

  .mobileLogo {
    width: auto;
    height: 35px;
    cursor: pointer;
  }

  .toggleImg {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
}

/* Header.module.scss */

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 295px;
  height: 100%;
  background: #fff;
  background-size: cover;
  background-position: center;
  transition: right 0.3s ease;
  color: #363636;
  z-index: 1000;
  overflow-y: auto;
  padding: 30px;
  display: none;
  @media screen and (max-width: $breakpoint_tablet) {
    display: block;
  }

  &.active {
    right: 0;
  }

  .sidebarHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;

    a {
      img {
        cursor: pointer;
        width: auto;
        height: 30px;
      }
    }

    span {
      font-weight: 500;
      color: #fff;
      background: #4273fc;
      padding: 6px 12px;
      font-size: 13px;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .menu {
    a {
      color: #363636;
      margin: 0 auto;
      font-weight: 500;
      border-bottom: 1px solid rgba(0, 0, 0, 0.799);
      padding: 17px 0;
      font-size: 14px;
      display: block;
      text-decoration: none;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .subMenu {
    span {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 17px 0;
      font-weight: 500;
      font-size: 14px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.799);

      &:hover {
        background-color: transparent;
      }

      .expandIcon {
        transform: rotate(-45deg);
        border-right: 2px solid currentcolor;
        border-bottom: 2px solid currentcolor;
        width: 5px;
        height: 5px;
        transition: transform 0.3s;

        &.open {
          transform: rotate(44deg);
        }
      }
    }

    .subMenuContent {
      a {
        color: #363636;
        padding: 17px 0;
        font-size: 14px;
        font-weight: 400;
        display: block;
        text-decoration: none;
      }
    }
  }

  .socialLinks {
    padding: 17px 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    a {
      text-align: center;

      i {
        font-size: 21px;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .footerContact {
    height: 40px !important;
    padding: 5px !important;
    line-height: 1px !important;
    font-size: 12px !important;
    width: 81% !important;
    font-weight: 100 !important;
    background-color: #4273fc !important;
    border-radius: 20px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-weight: 500 !important;
    margin: 0 auto;
    padding-top: 7px !important;
    margin-top: 20px !important;
    a {
      color: #fff !important;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  cursor: pointer;
  display: none;
  @media screen and (max-width: $breakpoint_tablet) {
    display: block;
  }
}

.header_widget {
  position: relative;
  padding: 20px 0;
  background: #ffffff;
  @media (max-width: $breakpoint_laptop) {
    padding: 10px 0;
  }
  @media screen and (max-width: $breakpoint_tablet) {
    display: none;
  }
  .header_section {
    .contact_margin {
      margin-right: 18px;
      @media screen and (max-width: $breakpoint_mini_laptop) {
        margin-right: 14px;
      }
    }
    .contact_section {
      li {
        margin-right: 40px;
        @media (max-width: $breakpoint_laptop) {
          margin-right: 25px;
        }
        &:last-child {
          margin-right: 0;
        }
        img {
          margin-right: 20px;
          @media (max-width: $breakpoint_laptop) {
            width: 30px;
            margin-right: 10px;
          }
        }
        section {
          @media (max-width: $breakpoint_laptop) {
            line-height: 1.23;
          }
          span {
            margin: 0;
            color: $dark_color;
            font-size: 12px;
            line-height: 14px;
          }
          a {
            color: $dark_color;
            font-size: 16px;
            transition: all 0.4s ease-in-out;
            @media (max-width: $breakpoint_laptop) {
              font-size: 14px;
            }
          }
        }
        &:hover {
          section {
            a {
              color: $blue_color;
            }
          }
        }
      }
    }
    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        width: 55%;
        height: auto;
      }
    }
    .career_section {
      ul {
        li {
          margin-right: 50px;
          @media (max-width: $breakpoint_laptop) {
            margin-right: 30px;
          }
          &:last-child {
            margin-right: 36px;
          }
          .quick_link_content {
            text-align: center;
            img {
              margin-bottom: 8px;
              @media (max-width: $breakpoint_laptop) {
                margin-bottom: 2px;
                width: 24px;
              }
            }
            span {
              transition: all 0.4s ease-in-out;
              margin: 0;
              color: $dark_color;
              font-size: 16px;
              line-height: 20px;
              @media (max-width: $breakpoint_laptop) {
                font-size: 15px;
              }
            }
            &:hover {
              span {
                color: $blue_color;
              }
            }
          }
        }
      }
    }
  }
}
.navigation_wrapper {
  position: relative;
  @media screen and (max-width: $breakpoint_tablet) {
    display: none;
  }
  &.is_sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: $card_color;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 2px 24px 0 rgba(0 0 0 / 15%);
    .navigation_content {
      margin: 0;
      padding: 15px 0;
      border-radius: 0;
      background-color: transparent;
      margin: 0 auto 0;
      width: 95%;
      .main_menu {
        & > li {
          & > a,
          .menuwrap {
            color: $dark_color;
          }
        }
      }
    }
    .header_social_wrapper {
      span {
        color: $white_color !important;
        a {
          color: $white_color !important;
          &:hover {
            color: $blue_color !important;
          }
        }
      }
      .social_links {
        .social {
          background-color: $dark_color;
          border-color: $dark_color;
        }
      }
    }
  }
  .navigation_content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: $card_color;
    padding: 15px;
    border-radius: 100px;
    width: 95%;
    margin: 10px auto 0;
    & > a {
      img {
        width: 155px;
        height: auto;
      }
    }
    .main_menu {
      .menu_active {
        .mini_dropdown {
          display: block;
        }
      }
      & > li {
        list-style: none;
        margin-right: 14px;
        @media screen and (max-width: $breakpoint_mini_laptop) {
          margin-right: 15px;
        }
        & > a,
        .menuwrap {
          background: none;
          border: none;
          line-height: 1;
          position: relative;
          color: $dark_color;
          align-items: center;
          font-size: 16px;
          display: flex;
          font-weight: 500;
          gap: 7px;
          padding: 25px 7px;
          transition: all 0.4s ease-in-out;
          img {
            filter: grayscale(1);
            transform: rotate(180deg);
          }
          i {
            font-size: 15px;
            margin-left: 10px;
          }
        }
        &:hover {
          & > a,
          .menuwrap {
            color: $blue_color;
          }
        }
      }
    }
    .contact_us {
      a {
        color: $white_color;
        background: linear-gradient(90deg, #00a3ff 0%, #0045ff 100%);
        border-radius: 100px;
        padding: 21px 36px;
        font-size: 16px;
        font-weight: 500;
        // box-shadow: 7px 9px 21.6px #0045ff40;
        transition: transform 0.3s ease, box-shadow 0.3s ease,
          background-position 0.3s ease;
        background-size: 200% 200%;
        &:hover {
          transform: translateY(-3px);
          // box-shadow: 10px 14px 30px #0045ff60;
          background-position: right center;
        }
      }
    }
  }
}
.mini_dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  width: 300px;
  background: #ffffff;
  border: 4px solid #4273fc;
  box-shadow: 0 11px 42px rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  padding: 15px 25px;
  li {
    display: flex;
    flex-direction: column;
    &:last-child {
      a {
        border-bottom: none;
      }
    }
    a {
      width: 100%;
      color: rgba(29, 67, 84, 0.6);
      font-size: 20px;
      padding: 15px 0;
      border-bottom: 1px solid #d6d6d6;
      transition: all 0.4s ease-in-out;
    }
    &:hover,
    &.active {
      a {
        color: rgba(29, 67, 84, 1);
      }
    }
  }
}
