@use "../../../styles/variables" as *;

.development_wrapper {
    padding: 100px 0 90px;
    background: linear-gradient(180deg, #3150B3 0%, #091336 100%);
    position: $position_rel;

    @media (max-width: $breakpoint_laptop) {
        padding: 80px 0 70px;
    }

    @media (max-width: $breakpoint_tablet) {
        padding: 60px 0 30px;
    }

    &:before {
        content: '';
        position: $position_abs;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        // background-image: url('../../../../../../public/assets/images/services/custom-bg.svg');
        background-size: cover;
    }

    .section_title {
        max-width: 1250px;
        margin: 0 auto 60px;
        text-align: center;

        @media (max-width: $breakpoint_tablet) {
            margin-bottom: 30px;
        }

        h2 {
            color: $white_color;
            font-size: 42px;
            font-weight: 600;
            line-height: 1.4;
            margin-bottom: 20px;

            @media (max-width: $breakpoint_tablet) {
                font-size: 38px;
            }

            @media (max-width: $breakpoint_mobile_portrait) {
                font-size: 28px;
            }
        }

        p {
            color: $white_color;
            font-size: 20px;
            line-height: 1.6;
            margin: 0;

            @media (max-width: $breakpoint_tablet) {
                font-size: 18px;
            }

            @media (max-width: $breakpoint_mobile_portrait) {
                font-size: 16px;
            }
        }
    }

    &.ios_development_process {
        .process_tabs {
            padding: 95px 110px 0;

            @media (max-width: $breakpoint_tablet) {
                padding-right: 0;
                padding-left: 0;
            }
        }

        .process_tabs_list {
            position: absolute;
            left: 50%;
            top: -20px;
            transform: translateX(-50%);
            max-width: 100% !important;
            flex: 0 0 100% !important;
            background: #FFFFFF;
            border: 2px solid #D7D7D7;
            box-shadow: 0 51px 80px rgba(0, 0, 0, 0.07), 0 15.375px 24.1177px rgba(0, 0, 0, 0.0456112), 0 6.38599px 10.0172px rgba(0, 0, 0, 0.035), 0 2.30969px 3.62304px rgba(0, 0, 0, 0.0243888);
            border-radius: 10px;
            z-index: 1;
            overflow: auto;

            ul {
                flex-direction: row;
                justify-content: space-between;

                li {
                    margin: 0 !important;
                    padding: 0 25px;
                    width: 100%;

                    &:before {
                        border: none !important;
                        border-top: 2px dashed $dark_color !important;
                        width: 30px !important;
                        height: 2px !important;
                        top: 50% !important;
                        margin: 0 !important;
                        left: unset !important;
                        right: -16px;
                    }

                    button {
                        color: $dark_color !important;
                        opacity: 0.6;
                        padding: 20px 0 !important;

                        &.active {
                            opacity: 1;
                            color: rgba(0, 163, 255, 1) !important;
                        }
                    }
                }
            }
        }
    }

    .process_tabs {
        position: $position_rel;

        @media (max-width: $breakpoint_mobile_portrait) {
            flex-direction: column;
        }

        @media (max-width: $breakpoint_tablet) {
            padding-top: 70px;
        }

        .process_tabs_content {
            max-width: 512px;

            // flex: 0 0 512px;
            @media (max-width: $breakpoint_laptop) {
                max-width: 420px;
                // flex: 0 0 420px;
            }

            section {
                padding-left: 51px;
                position: $position_rel;

                @media (max-width: $breakpoint_tablet) {
                    padding-left: 40px;
                }

                span {
                    color: #00a3ff66;
                    font-size: 120px;
                    position: absolute;
                    top: -57px;
                    left: -100px;
                    line-height: 96px;
                    font-weight: 600;

                    @media (max-width: $breakpoint_tablet) {
                        font-size: 20px;
                    }
                }

                h3 {
                    margin: 0 0 10px;
                    color: $white_color;
                    font-weight: 600;
                    font-size: 28px;

                    @media (max-width: $breakpoint_tablet) {
                        font-size: 22px;
                    }
                }

                p {
                    color: $white_color;
                    font-size: 18px;
                    line-height: 1.6;
                    margin: 0;

                    @media (max-width: $breakpoint_tablet) {
                        font-size: 16px;
                    }
                }

                ul {
                    li {
                        color: $white_color;
                        line-height: 40px;
                        font-size: 24px;
                        white-space: pre-line;
                        margin-bottom: 15px;
                        position: $position_rel;
                        padding-left: 33px;

                        @media (max-width: $breakpoint_laptop) {
                            font-size: 20px;
                            line-height: 30px;
                        }

                        @media (max-width: $breakpoint_tablet) {
                            font-size: 16px;
                            line-height: 26px;
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 12px;
                            width: 17px;
                            height: 17px;
                            border-radius: 100%;
                            border: 1px solid $white_color;

                            @media (max-width: $breakpoint_laptop) {
                                top: 6px;
                            }
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            left: 6px;
                            top: 18px;
                            width: 7px;
                            height: 7px;
                            border-radius: 100%;
                            background: $blue_color;

                            @media (max-width: $breakpoint_laptop) {
                                top: 12px;
                            }
                        }
                    }
                }
            }
        }

        .process_tabs_list {
            max-width: 270px;
            flex: 0 0 270px;

            @media (max-width: $breakpoint_tablet) {
                max-width: 100%;
                flex: 0 0 100%;
                width: 100%;
                overflow: auto;

                &::-webkit-scrollbar {
                    height: 2px;
                    width: 0;
                }

                border-bottom: 1px solid #FFFFFF;
            }

            ul {

                li {
                    margin-bottom: 80px;
                    position: $position_rel;

                    @media (max-width: $breakpoint_laptop) {
                        margin-bottom: 60px;
                    }

                    @media (max-width: $breakpoint_tablet) {
                        margin: 0 30px 0 0;
                    }

                    &:last-child {
                        margin-bottom: 0;

                        &:before {
                            display: none;
                        }
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        width: 2px;
                        top: 100%;
                        height: 64px;
                        border-right: 2px dashed $white_color;
                        margin-top: 9px;

                        @media (max-width: $breakpoint_laptop) {
                            height: 43px;
                        }

                    }

                    button {
                        line-height: 31px;
                        text-align: center;
                        background: transparent;
                        border: none;
                        padding: 0;
                        color: rgba(255, 255, 255, 0.6);
                        white-space: nowrap;
                        font-size: 14px;

                        &.active {
                            color: $blue_color;

                        }
                    }
                }
            }
        }

        .process_image {
            width: 100%;
            height: 100%;
            max-width: 340px;
            object-fit: cover;

            @media (max-width: $breakpoint_tablet) {
                max-width: 240px;
            }

            @media (max-width: $breakpoint_mobile_portrait) {
                max-width: 180px;
            }
        }
    }
}