@use "../../../styles/variables" as *;

.contact_banner {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding: 130px 0 0;
  background-position: center;
  @media (max-width: $breakpoint_mini_laptop) {
    padding: 130px 0 0;
  }
  @media (max-width: $breakpoint_tablet) {
    padding: 100px 0 0;
  }
  @media (max-width: $breakpoint_mobile_portrait) {
    padding: 70px 0 0;
  }
  .content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
    h1 {
      font-size: 42px;
      font-weight: 600;
      color: $dark_color;
      line-height: 1.2;
      margin: 0;
      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 38px;
      }
      @media (max-width: $breakpoint_mobile_portrait) {
        font-size: 28px;
      }
    }
    p {
      font-size: 20px;
      line-height: 1.6;
      color: $gray_color;
      margin: 0;
      @media (max-width: $breakpoint_tablet) {
        font-size: 18px;
        line-height: 28px;
      }
      @media (max-width: $breakpoint_mobile_portrait) {
        font-size: 16px;
      }
    }
    .banner_content_btn {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      @media screen and (max-width: $breakpoint_mini_laptop) {
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 20px;
      }
      a {
        background-color: transparent;
        background-image: linear-gradient(258deg, #0045ff 0%, #00a3ff 100%);
        transition-duration: 1s;
        border-style: solid;
        border-width: 1px;
        border-color: #00a3ff;
        border-radius: 10px;
        font-weight: 400;
        line-height: 1;
        padding: 12px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        transition: all 0.3s;
        font-size: 16px;
        color: $white_color;
        @media screen and (max-width: $breakpoint_mobile_portrait) {
        }
        img {
          width: 17px;
          height: 17px;
        }
        &:nth-child(2) {
          background: $white_color;
          border: 1px solid $dark_color;
          color: $dark_color;
        }
        &:hover {
          background-color: #00a2ff16;
        }
      }
    }
  }
}
