@use "../../../../styles/variables" as *;

.our_values {
  padding-top: 130px;

  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }
  .heading_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @media screen and (max-width: $breakpoint_tablet) {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
    h2 {
      color: $dark_color;
      font-size: 46px;
      font-weight: 600;
      line-height: 1.4;
      margin: 0px;
      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 38px;
      }
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        font-size: 28px;
      }
    }
    p {
      font-size: 20px;
      color: $gray_color;
      font-weight: 400;
      margin: 0;
      line-height: 1.6;
      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 18px;
      }
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        font-size: 16px;
      }
    }
  }
  .content_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 65px;
    @media screen and (max-width: $breakpoint_mini_laptop) {
      grid-template-columns: repeat(3, 1fr);
      margin-top: 60px;
    }
    @media screen and (max-width: $breakpoint_tablet) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 60px;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      grid-template-columns: repeat(1, 1fr);
      margin-top: 40px;
    }
    .block {
      border-radius: 32px 80px 32px 32px;
      background-color: $card_color;
      padding: 30px 25px 25px;
      transition: all 0.3s;
      display: flex;
      flex-direction: column;
      gap: 20px;
      &:hover {
        background-color: #002041;
        h4 {
          color: $white_color;
        }
        p {
          color: $white_color;
        }
      }
      h3 {
        color: #00a3ff;
        font-size: 85px;
        font-weight: 200;
        margin: 0;
        line-height: 1;
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 70px;
        }
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 60px;
        }
      }
      h4 {
        color: $dark_color;
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 18px;
        }
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        color: $gray_color;
        margin: 0;
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 14px;
        }
      }
    }
  }
}
