@use "../../../styles/variables" as *;

.development_services {
  padding-top: 130px;

  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }
  .wrapper {
    padding: 50px;
    border-radius: 12px;
    background-color: $card_color;
    position: relative;
    &::before {
      content: "";
      background-image: url(../../../public/assets/images/icons/folder-shape.svg);
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 30px;
      width: 95%;
      height: 98px;
      position: absolute;
      top: -30px;
      left: 0;
      z-index: -99;
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        display: none;
      }
    }
    @media screen and (max-width: $breakpoint_tablet) {
      padding: 30px;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      padding: 30px 20px;
    }
    .heading_wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      @media screen and (max-width: $breakpoint_mini_laptop) {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
      }
      h2 {
        color: $dark_color;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.4;
        margin: 0px;
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 32px;
        }
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 28px;
        }
      }
      .block {
        display: flex;
        gap: 20px;
        @media screen and (max-width: $breakpoint_mini_laptop) {
          flex-wrap: wrap;
        }
        p {
          font-size: 18px;
          color: $gray_color;
          font-weight: 400;
          margin: 0;
          line-height: 1.6;
          @media screen and (max-width: $breakpoint_tablet) {
            font-size: 16px;
          }
        }
        .button_wrapper {
          a {
            padding: 12px 20px;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 500;
            box-shadow: none;
          }
        }
      }
    }
    .content_wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin-top: 65px;

      @media screen and (max-width: $breakpoint_mini_laptop) {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 60px;
      }
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
      }
      .block {
        border-radius: 12px;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 30px;
        transition: all 0.3s;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          padding: 20px;
          border-radius: 12px;
        }
        &:last-child {
          flex-direction: row;
          grid-column: span 3;
          align-items: center;
          gap: 50px;
          .content {
            width: 40%;
            @media screen and (max-width: $breakpoint_mini_laptop) {
              width: 100%;
            }
          }
          @media screen and (max-width: $breakpoint_mini_laptop) {
            grid-column: auto;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
          }
        }
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
        img {
          width: 40px;
          height: 40px;
          margin-bottom: 10px;
          transition: all 0.3s;
        }
        .content {
          display: flex;
          flex-direction: column;
          gap: 20px;
          position: relative;
          margin-bottom: 30px;
          &::before {
            content: "";
            position: absolute;
            bottom: -30px;
            left: 0;
            width: 70px;
            border-block-start: 2px solid $white_color;
          }
          h3 {
            color: $white_color;
            font-size: 26px;
            font-weight: 500;
            margin: 0;
            line-height: 1.2;
            @media screen and (max-width: $breakpoint_mobile_portrait) {
              font-size: 18px;
            }
          }
          p {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.6;
            color: $white_color;
            margin: 0;
          }
        }
      }
    }
  }
}
