@use "../../../styles/variables" as *;

.development_services {
  background: url("../../../public/assets/images/services/gray_bg.webp") center fixed;
  background-size: cover;
  padding: 100px 0 0;
  @media (max-width: $breakpoint_tablet) {
   padding: 60px 0 0;
  }
  .section_title {
    max-width: 1250px;
    margin: 0 auto 60px;
    text-align: center;
    @media (max-width: $breakpoint_tablet) {
      margin-bottom: 40px;
    }
    h2 {
      font-size: 42px;
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 20px;
      color: $dark_color;
      @media (max-width: $breakpoint_tablet) {
        font-size: 38px;
      }
      @media (max-width: $breakpoint_mobile_portrait) {
        font-size: 28px;
      }
    }
    p {
      font-size: 20px;
      line-height: 1.6;
      color: $gray_color;
      margin: 0;
      @media (max-width: $breakpoint_tablet) {
        font-size: 18px;
      }
      @media (max-width: $breakpoint_mobile_portrait) {
        font-size: 16px;
      }
  }
  }
  .development_services_text {
    max-width: 1250px;
    margin: 0 auto;
    @media (max-width: $breakpoint_tablet) {
      margin-top: 80px;
    }
    section {
      &:first-child {
        width: 82%;
        @media (max-width: $breakpoint_tablet) {
          width: 100%;
          margin: 0 auto;
        }
      }
      width: 100%;
      position: relative;
      padding-left: 67px;
      margin-bottom: 68px;
      @media (max-width: $breakpoint_tablet) {
       padding-left: 0;
      }
      p {
        color: $dark_color;
        opacity: 0.9;
        font-size: 24px;
        line-height: 40px;
        margin: 0;
        @media (max-width: $breakpoint_laptop) {
          font-size: 18px;
          line-height: 32px;
        }
        @media (max-width: $breakpoint_tablet) {
          margin-top: 20px;
        }
      }
      span {
        background: linear-gradient(268.09deg, #0045FF 0%, #00A3FF 100%);
        border-radius: 50px;
        border: 2px solid $white_color;
        color: $white_color;
        font-size: 28px;
        line-height: 39px;
        padding: 13px 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 83px;
        position: relative;
        margin-bottom: 10px;
        transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        overflow: visible;
        &:hover {
          background: $white_color;
          border-color: rgba(0, 69, 255, 0.5);
          color: $dark_color;
          small {
            background: $white_color;
            border-color: rgba(0, 69, 255, 0.5);
            color: $dark_color;
          }
        }
        @media (max-width: $breakpoint_laptop) {
          min-height: 55px;
          font-size: 22px;
          line-height: 30px;
          padding: 10px 40px;
        }
        @media (max-width: $breakpoint_tablet) {
          font-size: 20px;
        }
        small {
          position: absolute;
          transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
          left: -67px;
          background: linear-gradient(268.09deg, #0045FF 0%, #00A3FF 100%);
          border: 2px solid $white_color;
          width: 47px;
          height: 47px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 50%;
          transform: translateY(-50%);
          color: $white_color;
          @media (max-width: $breakpoint_tablet) {
            left: 0;
            top: -16px;
          }
        }
      }
      ul {
        li {
          position: relative;
          padding-left: 67px;
          margin-bottom: 60px;
          width: 100%;
          @media (max-width: $breakpoint_laptop) {
            margin-bottom: 60px;
          }
          @media (max-width: $breakpoint_tablet) {
            width: 100%;
            padding-left: 0;
          }
          &:hover {
            span {
              background: $white_color;
              border-color: rgba(0, 69, 255, 0.5);
              color: $dark_color;
              small {
                background: $white_color;
                border-color: rgba(0, 69, 255, 0.5);
                color: $dark_color;
              }
            }
          }
        }
      }
      &.left_section {
        width: 26%;
        float: left;
        padding-left: 0;
        @media (max-width: $breakpoint_laptop) {
          width: 30%;
        }
        @media (max-width: $breakpoint_tablet) {
          width: 100%;
          margin: 0 auto 60px auto;
          float: initial;
        }
        &:before {
          content: '';
          position: absolute;
          right: -70px;
          top: -35px;
          pointer-events: none;
          width: 432px;
          height: 600px;
          background: url("../../../public/assets/images/services/dot_line.svg");
          @media (max-width: $breakpoint_tablet) {
           content: none;
          }
          @media (max-width: $breakpoint_mini_laptop) {
            left: 12px;
           }
        }
      }
      &.right_section {
        width: 74%;
        float: right;
        padding-left: 40px;
        @media (max-width: $breakpoint_laptop) {
          width: 70%;
        }
        @media (max-width: $breakpoint_tablet) {
          width: 100%;
    padding-left: 0;
    float: initial;
    margin: 0 auto;
        }
      }
    }
  }
}