@import "../../../styles/variables.scss";

.footer {
  background-color: #0b2240;
  color: #fff;
  padding-top: 80px;

  @media (max-width: $breakpoint_mobile_portrait) {
    padding-top: 50px;
  }
  .footer_container {
    display: flex;
    gap: 40px;
    justify-content: space-between;

    @media (max-width: $breakpoint_tablet) {
      flex-wrap: wrap;
    }
    @media (max-width: $breakpoint_mobile_portrait) {
      gap: 20px;
    }
    .footer_section {
      width: 25%;
      @media (max-width: $breakpoint_tablet) {
        width: 45%;
      }
      @media (max-width: $breakpoint_mobile_portrait) {
        width: 100%;
      }
      h4 {
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 700;
        color: #fff;
        @media (max-width: $breakpoint_tablet) {
          font-size: 18px;
        }
      }

      hr {
        border-bottom: 1px solid #ffffffc4;
        margin: 35px 0;
      }
      p,
      li {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.8;
        @media (max-width: $breakpoint_tablet) {
          font-size: 14px;
        }
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 10px;

          a {
            color: #fff;
            text-decoration: none;
            transition: 0.3s;

            &:hover {
              color: $blue_color;
            }
          }
        }
      }
    }

    .footer-logo {
      margin-bottom: 20px;
      img {
        width: 200px;
        height: auto;
      }
    }

    .footer-contact {
      p {
        display: flex;
        gap: 5px;
        a {
          color: $white_color;
        }
        img {
          margin-top: 3px;
          margin-right: 5px;
        }
      }
    }

    .ratings {
      margin-bottom: 40px;

      img {
        width: 100%;
        height: auto;
        // @media (max-width: $breakpoint_mini_laptop) {
        //   width: 300px;
        // }
        @media (max-width: $breakpoint_small_portrait) {
          width: 100%;
        }
      }
    }

    .socials {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      a {
        display: inline-flex;
        padding: 8px;
        background-color: #c8c5c5;
        border-radius: 50%;
        transition: 0.3s;
        img {
          width: 15px;
          height: 15px;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .other_socials {
      margin-top: 20px;
      display: flex;
      align-items: center;
      gap: 20px;
      img {
        width: 80px;
        height: auto;
        transition: 0.3s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .footerBottom {
    border-top: 1px solid #4055a7;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    margin-top: 50px;
    @media (max-width: $breakpoint_tablet) {
      font-size: 14px;
    }
  }
}
