@use "../../../styles/variables" as *;

.testimonials {
  padding-top: 130px;
  overflow: hidden;
  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }
  &.padding_bottom {
    padding-bottom: 130px;
    @media screen and (max-width: $breakpoint_tablet) {
      padding-bottom: 100px;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      padding-bottom: 70px;
    }
  }
  .content_wrapper {
    .heading {
      text-align: center;
      margin-bottom: 50px;
    }
    .testimonialsSwiper {
      padding-bottom: 80px;
      margin-right: -100px;

      :global(.swiper-pagination) {
        bottom: 20px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          bottom: 45px !important;
        }
        
        :global(.swiper-pagination-bullet) {
          width: 10px;
          height: 10px;
          background: rgba(39, 39, 39, 0.25);
          opacity: 1;
          transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          border-radius: 50%;
          margin: 0;
          &:hover {
            background: rgba(66, 115, 252, 0.5);
            transform: scale(1.1);
          }
          
          &:global(.swiper-pagination-bullet-active) {
            background: $blue_color;
            width: 40px;
            border-radius: 12px;
          }
        }
      }
      .block {
        border-radius: 12px;
        background-color: $card_color;
        padding: 30px;
        transition: all 0.3s;
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          padding: 25px;
        }
        &:hover {
          background-color: #002041;
          h3 {
            color: $white_color;
          }
          p {
            color: $white_color;
          }
          .coma_img {
            filter: none;
          }
        }
        .coma_img {
          width: 70px;
          height: 70px;
          object-fit: contain;
          margin-bottom: 15px;
          filter: grayscale(1);
        }
        h3 {
          color: $dark_color;
          font-size: 20px;
          font-weight: 500;
          margin: 0;
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            font-size: 18px;
          }
        }
        p {
          font-size: 20px;
          font-weight: 400;
          line-height: 1.6;
          color: $gray_color;
          margin: 0 0 30px;
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
