@use "../../../styles/variables" as *;

.testimonials {
  padding-top: 130px;
  overflow: hidden;
  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }
  .content_wrapper {
    .heading {
      color: $dark_color;
      font-size: 46px;
      font-weight: 700;
      text-align: center;
      line-height: 1.4;
      margin-bottom: 50px;
      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 38px;
      }
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        font-size: 28px;
      }
    }
    .testimonialsSwiper {
      padding-bottom: 50px;
      margin-right: -100px;

      @media screen and (max-width: $breakpoint_mobile_portrait) {
        padding-bottom: 50px;
      }
      .block {
        border-radius: 32px 120px 32px 32px;
        background-color: $card_color;
        padding: 40px;
        .coma_img {
          width: 70px;
          height: 70px;
          object-fit: contain;
          margin-bottom: 15px;
        }
        h4 {
          color: $dark_color;
          font-size: 20px;
          font-weight: 600;
          margin: 0;
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            font-size: 18px;
          }
        }
        p {
          font-size: 20px;
          font-weight: 400;
          line-height: 1.6;
          color: $gray_color;
          margin: 0 0 30px;
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
