@use "../../../styles/variables" as *;

.our_clients {
  margin-top: 100px;
  background-image: url(../../../public/assets/images/home/blockchain-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
  overflow: hidden;

  @media screen and (max-width: $breakpoint_tablet) {
    margin-top: 70px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    margin-top: 50px;
  }

  .heading {
    color: $white_color;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 60px;

    @media screen and (max-width: $breakpoint_tablet) {
      font-size: 36px;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      font-size: 28px;
    }
  }

  .inner_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: space-between;
    @media screen and (max-width: $breakpoint_mini_laptop) {
      display: block;
    }
    .left_side {
      width: 100%;
      color: $white_color;
      @media screen and (max-width: $breakpoint_mini_laptop) {
        width: 100%;
      }
      .description {
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          flex-wrap: wrap;
        }
        .client_img {
          width: 250px;
          height: 250px;
          border-radius: 12px;
          margin-right: 20px;
          object-fit: cover;
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            width: 100%;
          }
        }

        p {
          font-size: 16px;
          line-height: 1.6;
          margin-bottom: 20px;
          color: $white_color;
          @media screen and (max-width: $breakpoint_tablet) {
            font-size: 16px;
          }
        }

        .services_link {
          color: $white_color;
          font-weight: 500;
          font-size: 16px;
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            margin-top: 4px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .client_satisfaction {
        margin-top: 20px;
        span {
          display: block;
          margin-bottom: 5px;
          font-size: 18px;
          font-weight: 500;
        }
        .progress_bar {
          width: 100%;
          height: 18px;
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 12px;;
          font-size: 10px;
          font-weight: 500;
          overflow: hidden;

          .progress_fill {
            width: 100%;
            height: 100%;
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: end;
            background-color: #00a3ff;
          }
        }
      }
    }

    .right_side {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      align-items: center;
      justify-content: center;
      width: 100%;
      @media screen and (max-width: $breakpoint_mini_laptop) {
        margin-top: 30px;
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;
      }
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        grid-template-columns: repeat(2, 1fr);
      }
      .platform {
        background-color: $white_color;
        padding: 15px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          height: auto;
          width: 100%;
        }
        img {
          object-fit: contain;
          max-width: 100%;
          max-height: 30px;
        }
      }
    }
  }
}
