@use "../../../styles/variables" as *;

.trusted_companies_slider {
  padding-top: 130px;
  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }
  .content_wrapper {
    max-width: 970px;
    margin: 0 auto 60px;
    text-align: center;
  }
}
