@use "../../../styles/variables" as *;

.trusted_companies_slider {
  padding-top: 100px;
  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 70px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 50px;
  }
  .content_wrapper {
    max-width: 940px;
    margin: 0 auto 60px;
    text-align: center;
    h2 {
      font-size: 44px;
      font-weight: 700;
      line-height: 59px;
      color: $dark_color;
      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 30px;
        line-height: 1.4;
      }
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        font-size: 28px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 36px;
      margin-bottom: 0;
      color: #5b5b5b;
      span {
        color: #f7a623;
      }
    }
  }
}
