@use "../../../../styles/variables" as *;

.digital_services {
  padding-top: 130px;

  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }

  .servicesGrid {
    display: grid;
    gap: 20px;

    .card {
      background-color: $card_color;
      padding: 25px;
      border-radius: 27px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      transition: all 0.3s;

      &:hover {
        background-color: #002041;
        h3 {
          color: $white_color;
        }
        p {
          color: $white_color;
        }
        .icon {
          filter: grayscale(1);
        }
      }

      h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.4;
        color: $dark_color;
        margin: 0;
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 18px;
        }
      }

      p {
        font-size: 18px;
        line-height: 1.6;
        color: $gray_color;
        font-weight: 400;
        margin: 0;
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 16px;
        }
      }
    }

    .icon {
      width: 50px;
      height: 50px;
      margin-bottom: 15px;
    }

    .firstRow {
      display: grid;
      grid-template-columns: 1fr repeat(2, 1fr);
      gap: 20px;
      @media screen and (max-width: $breakpoint_tablet) {
        grid-template-columns: auto;
      }
      .topSection {
        h2 {
          font-size: 46px;
          font-weight: 700;
          margin: 0;
          color: $dark_color;
          @media screen and (max-width: $breakpoint_tablet) {
            font-size: 38px;
          }
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            font-size: 28px;
          }
        }

        .ctaButton {
          font-size: 16px;
          font-weight: 400;
          background-image: linear-gradient(63deg, #00a3ff 0%, #0045ff 100%);
          border-radius: 10px;
          padding: 16px;
          border: 0;
          color: $white_color;
          cursor: default;
          transition: all 0.3s;
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 20px;
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            padding: 14px;
          }
        }
      }
    }

    .secondRow {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)) 150px;
      gap: 20px;
      @media screen and (max-width: $breakpoint_tablet) {
        grid-template-columns: auto;
      }

      .viewAll {
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $card_color;
        border-radius: 27px;
        cursor: pointer;
        padding: 25px;
        font-weight: 600;
        text-align: center;
        transition: all 0.3s;
        @media screen and (max-width: $breakpoint_tablet) {
          width: 100%;
          gap: 20px;
        }
        &:hover {
          background-color: #002041;
          p {
            color: $white_color;
          }
          span {
            color: $white_color;
          }
        }

        span {
          background-image: linear-gradient(63deg, #00a3ff 0%, #0045ff 100%);
          border-radius: 10px;
          padding: 11px 13px;
          color: $white_color;
          display: inline-block;
          font-size: 14px;
          margin-bottom: 15px;
          @media screen and (max-width: $breakpoint_tablet) {
            margin-bottom: 0;
          }
        }
        p {
          margin: 0;
          color: $dark_color;
          font-size: 18px;
          text-decoration: underline;
        }
      }
    }
  }
}
