@import "../../../styles/variables.scss";

.featured_case {
  padding-top: 100px;
  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 70px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 50px;
  }
  .heading {
    color: $dark_color;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 50px;
    @media screen and (max-width: $breakpoint_tablet) {
      font-size: 30px;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      font-size: 28px;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    @media screen and (max-width: $breakpoint_tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      grid-template-columns: 1fr;
    }
    .card {
      background: $card_color;
      border-radius: 18px;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .imageWrapper {
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      .content_wrapper {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: 20px;
        .title {
          font-size: 22px;
          font-weight: 700;
          color: $dark_color;
          margin-bottom: 10px;
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            font-size: 20px;
          }
        }

        p {
          font-size: 16px;
          color: $gray_color;
          margin-bottom: 20px;
          line-height: 1.6;
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            font-size: 14px;
          }
        }

        .impact {
          h4 {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 10px;
            color: $dark_color;
            @media screen and (max-width: $breakpoint_mobile_portrait) {
              font-size: 16px;
            }
          }
          ul {
            padding-left: 18px;

            li {
              font-size: 16px;
              margin-bottom: 8px;
              color: $gray_color;
              line-height: 1.6;
              @media screen and (max-width: $breakpoint_mobile_portrait) {
                font-size: 14px;
              }
            }
          }
        }
        a {
          padding: 12px 15px;
          font-size: 12px;
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            padding: 12px 15px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
