@use "../../../styles/variables" as *;

.quote_info_form {
  padding-top: 130px;
  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }

  .quote_wrapper {
    .form_info {
      background: $card_color;
      border-radius: 12px;
      padding: 80px;
      max-width: 985px;
      margin: 0 auto;
      @media screen and (max-width: $breakpoint_tablet) {
        padding: 25px;
      }
      .form {
        display: flex;
        flex-direction: column;
        gap: 50px;
        h3 {
          font-size: 24px;
          color: $dark_color;
          font-weight: 500;
        }
        .form_row {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 25px;

          @media (max-width: $breakpoint_tablet) {
            grid-template-columns: 1fr;
            gap: 50px;
          }
        }

        .floating_group {
          position: relative;
          width: 100%;
          &.filled label {
            font-size: 13px;
            top: -16px;
          }
          input,
          select,
          textarea {
            padding: 8px 0 !important;
            border-radius: 12px;
            background-color: transparent !important;
            border: 0 !important;
            font-size: 16px;
            color: $dark_color;
            box-shadow: none !important;
            border-bottom: 1px solid #9f9f9f !important;
            height: auto;
            &:focus {
              border-color: $dark_color;
            }
          }
          select option[value=""],
          select option:first-child,
          select option[disabled][selected] {
            display: none !important;
          }
          select {
            cursor: pointer;
            appearance: none;
            background-image: url("/assets/images/icons/arrow_down.svg");
            background-repeat: no-repeat;
            background-position: right 0px center;
            background-size: 10px;
          }

          textarea {
            resize: vertical;
            min-height: 150px;
          }

          label {
            position: absolute;
            left: 0;
            top: 5px;
            color: $dark_color;
            font-size: 16px;
            pointer-events: none;
            transition: 0.2s ease;
            background: transparent;
            padding: 0;
            font-weight: 500;
          }
          /* Input and textarea floating */
          input:focus + label,
          textarea:focus + label,
          input:not(:placeholder-shown) + label,
          textarea:not(:placeholder-shown) + label {
            top: -16px;
            font-size: 13px;
            color: $dark_color;
          }
        }

        .attach_brief {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 227px;
          flex-direction: column;
          background-color: rgba(233, 241, 249, 1);
          border: 2px dashed rgba(165, 198, 200, 1);
          border-radius: 12px;
          gap: 5px;
          cursor: pointer;
          transition: 0.2s ease;

          &:hover {
            background-color: rgba(233, 241, 249, 0.7);
          }

          img {
            width: 63px;
            height: 71px;
            margin-bottom: 15px;
          }

          p {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            color: $dark_color;
          }

          span {
            font-size: 12px;
            font-weight: 400;
            color: $gray_color;
          }
        }

        .checkbox_row {
          display: flex;
          gap: 10px;
          align-items: center;
          font-size: 14px;
          input {
            width: 20px;
            height: 20px;
            margin: 0;
            @media screen and (max-width: $breakpoint_tablet) {
              width: 30px;
              height: 30px;
            }
          }
          label {
            font-weight: 500;
            a {
              color: $blue_color;
            }
          }
        }

        .submit_btn {
          background: linear-gradient(90deg, #00a3ff 0%, #0045ff 100%);
          color: #fff;
          padding: 16px 30px;
          width: 250px;
          border-radius: 12px;
          border: none;
          cursor: pointer;
          font-size: 16px;
          font-weight: 500;
          transition: 0.3s;

          &:hover {
            background: linear-gradient(90deg, #0045ff 0%, #00a3ff 100%);
          }
        }
      }
    }
  }
}
