@use "../../../styles/variables" as *;

.quote_info_form {
  padding: 130px 0;
  @media screen and (max-width: $breakpoint_tablet) {
    padding: 100px 0;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding: 70px 0;
  }

  .quote_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background: $card_color;
    border-radius: 30px;
    overflow: hidden;
    @media screen and (max-width: $breakpoint_tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      grid-template-columns: repeat(1, 1fr);
    }
    .info {
      padding: 35px;
      background-image: url(../../../public/assets/images/about_us/contact-form-bg.webp);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;
      justify-content: space-between;
      @media screen and (max-width: $breakpoint_tablet) {
        padding: 25px;
      }
      h2 {
        color: $white_color;
        font-size: 43px;
        font-weight: 700;
        margin: 0;
        max-width: 465px;
        @media screen and (max-width: $breakpoint_mini_laptop) {
          font-size: 36px;
          line-height: 1.4;
        }
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 28px;
        }
      }
      p {
        font-size: 22px;
        font-weight: 500;
        line-height: 36px;
        margin-bottom: 10px;
        color: $white_color;
        @media screen and (max-width: $breakpoint_mini_laptop) {
          font-size: 18px;
          line-height: 1.6;
        }
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 16px;
        }
      }
      .social_info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .address_info {
          display: flex;
          flex-direction: column;
          gap: 15px;
          a {
            font-size: 22px;
            font-weight: 500;
            line-height: 36px;
            margin-bottom: 10px;
            color: $white_color;
            display: block;
            @media screen and (max-width: $breakpoint_mini_laptop) {
              font-size: 18px;
              line-height: 1.6;
            }
            @media screen and (max-width: $breakpoint_mobile_portrait) {
              font-size: 16px;
            }
          }
        }
        .social_icons {
          display: flex;
          gap: 10px;
          flex-wrap: wrap;

          a {
            display: inline-flex;
            padding: 8px;
            background-color: $white_color;
            border-radius: 50%;
            transition: 0.3s;
            img {
              width: 15px;
              height: 15px;
            }
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .form_info {
      grid-column: span 2;
      padding: 50px 40px;
      @media screen and (max-width: $breakpoint_tablet) {
        padding: 25px;
        grid-column: auto;
      }
      .form {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .form_row {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 25px;

          @media (max-width: $breakpoint_tablet) {
            grid-template-columns: 1fr;
            gap: 50px;
          }
        }

        .floating_group {
          position: relative;
          width: 100%;

          input,
          select,
          textarea {
            padding: 8px 0 !important;
            border-radius: 0;
            background-color: transparent !important;
            border: 0 !important;
            font-size: 16px;
            color: $dark_color;
            box-shadow: none !important;
            border-bottom: 1px solid #9f9f9f !important;
            font-family: "Plus Jakarta Sans", Sans-serif !important;

            &:focus {
              border-color: $dark_color;
            }
          }
          select option[value=""],
          select option:first-child,
          select option[disabled][selected] {
            display: none !important;
          }
          select {
            cursor: pointer;
            appearance: none;
            background-image: url("/assets/images/icons/arrow_down.svg");
            background-repeat: no-repeat;
            background-position: right 0px center;
            background-size: 10px;
          }

          textarea {
            resize: vertical;
            min-height: 150px;
          }

          label {
            position: absolute;
            left: 0;
            top: 5px;
            color: $dark_color;
            font-size: 16px;
            pointer-events: none;
            transition: 0.2s ease;
            background: transparent;
            padding: 0;
            font-weight: 500;
          }
          /* Input and textarea floating */
          input:focus + label,
          textarea:focus + label,
          input:not(:placeholder-shown) + label,
          textarea:not(:placeholder-shown) + label {
            top: -10px;
            font-size: 13px;
            color: $dark_color;
          }

          /* Select floating ONLY if value is NOT empty */
          select:focus + label,
          select:not([value=""]) + label {
            top: -10px;
          }
        }

        // @supports (selector(:has(*))) {
        //   .floating_group:has(input:not(:placeholder-shown)) label,
        //   .floating_group:has(textarea:not(:placeholder-shown)) label {
        //     top: -14px;
        //     left: 0;
        //     font-size: 13px;
        //     color: #030e33;
        //     border: none;
        //     border-radius: 0;
        //     background: transparent;
        //     box-shadow: none;
        //     font-family: "Plus Jakarta Sans", Sans-serif !important;
        //   }
        // }
        .checkbox_row {
          display: flex;
          gap: 10px;
          align-items: center;
          font-size: 14px;
          input {
            width: 20px;
            height: 20px;
            margin: 0;
            @media screen and (max-width: $breakpoint_tablet) {
              width: 30px;
              height: 30px;
            }
          }
          label {
            font-weight: 600;
            a {
              color: $blue_color;
            }
          }
        }

        .submit_btn {
          background: linear-gradient(90deg, #00a3ff 0%, #0045ff 100%);
          color: #fff;
          padding: 16px 30px;
          width: 250px;
          border-radius: 30px;
          border: none;
          cursor: pointer;
          font-size: 16px;
          font-weight: 600;
          transition: 0.3s;

          &:hover {
            background: linear-gradient(90deg, #0045ff 0%, #00a3ff 100%);
          }
        }
      }
    }
  }
}
