@use "../../../styles/variables" as *;

.cta {
  padding-top: 130px;
  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }
  .cta_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-image: url(../../../public/assets/images/home/cta-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 85px 40px;
    border-radius: 30px;
    text-align: center;
    @media screen and (max-width: $breakpoint_tablet) {
      padding: 75px 30px;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      padding: 60px 25px;
      border-radius: 20px;
    }
    .content_wrapper {
      max-width: 1000px;
      margin: 0 auto;
      text-align: center;
      h2 {
        color: $white_color;
        font-size: 62px;
        font-weight: 500;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 0;

        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 38px;
        }
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 28px;
        }
      }
      p {
        font-size: 24px;
        line-height: 1.6;
        margin-bottom: 20px;
        color: $white_color;
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 16px;
        }
      }
      .button_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        a {
          padding: 17px 28px;
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            padding: 15px 25px;
            border-radius: 10px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
