@import "../../../../styles/variables";
.banner_wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding: 150px 0;
  border-radius: 0px 0px 100px 100px;
  background-image: url(../../../../public/assets/images/home/home-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (max-width: $breakpoint_laptop) {
    padding: 150px 0;
  }
  @media (max-width: $breakpoint_tablet) {
    padding: 100px 0;
    border-radius: 0px 0px 60px 60px;
  }
  @media (max-width: $breakpoint_mobile_portrait) {
    height: 650px;
    padding-top: 80px;
  }
  .banner_content {
    position: relative;
    padding-top: 60px;
    @media screen and (max-width: $breakpoint_tablet) {
      text-align: center;
      width: 95%;
      margin: 0 auto;
    }
    h1 {
      font-size: 65px;
      font-weight: 600;
      text-transform: uppercase;
      font-style: italic;
      color: $white_color;
      line-height: 1.2;
      text-align: center;
      margin: 0;
      @media (max-width: $breakpoint_laptop) {
        font-size: 46px;
      }
      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 36px;
      }
      @media (max-width: $breakpoint_mobile_portrait) {
        font-size: 28px;
      }
      span {
        display: block;
        font-family: "CloverDisplay-ExtraBold", sans-serif;
      }
    }
    .banner_content_wrapper {
      gap: 20px;
      @media screen and (max-width: $breakpoint_tablet) {
        flex-direction: column;
        text-align: center;
      }
      h2 {
        font-size: 65px;
        font-weight: 600;
        text-transform: uppercase;
        font-style: italic;
        color: $white_color;
        line-height: 1.2;
        text-align: right;
        margin: 0;
        width: 50%;
        @media (max-width: $breakpoint_laptop) {
          font-size: 46px;
        }
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 36px;
          width: 100%;
          text-align: center;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          font-size: 28px;
        }
        span {
          display: block;
          font-family: "CloverDisplay-ExtraBold", sans-serif;
        }
      }
      p {
        font-size: 26px;
        width: 40%;
        margin: 10px 0 0;
        line-height: 1.6;
        span {
          color: #6bb64a;
        }
        @media (max-width: $breakpoint_laptop) {
          font-size: 20px;
        }
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 30px;
          width: 100%;
        }
        @media (max-width: $breakpoint_mobile_portrait) {
          font-size: 16px;
        }
      }
    }
    .banner_content_btn {
      margin-top: 50px;
      gap: 10px;
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
      }
      a {
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          max-width: max-content;
        }
      }
    }
  }
}
