@use "../../../../styles/variables" as *;

.banner_wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding: 200px 0;
  border-radius: 12px;
  background-image: url(../../../../public/assets/images/home/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;

  @media (max-width: $breakpoint_laptop) {
    padding: 170px 0;
  }
  @media (max-width: $breakpoint_tablet) {
    padding: 150px 0;
  }
  @media (max-width: $breakpoint_mobile_portrait) {
    padding: 150px 0;
  }
  .banner_content {
    max-width: 1100px;
    position: relative;
    text-align: center;
    margin: 0 auto;

    h1 {
      font-size: 65px;
      font-weight: 500;
      text-transform: uppercase;
      font-style: italic;
      color: $white_color;
      line-height: 1.2;
      margin: 0;
      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 42px;
      }
      @media (max-width: $breakpoint_mobile_portrait) {
        font-size: 28px;
      }
      span {
        display: block;
      }
    }
    p {
      font-size: 24px;
      margin: 10px 0 0;
      line-height: 1.6;
      @media (max-width: $breakpoint_tablet) {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 30px;
      }
      @media (max-width: $breakpoint_mobile_portrait) {
        font-size: 16px;
      }
    }
    .banner_content_btn {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      gap: 10px;
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
      }
      a {
        font-weight: 500;
        border-radius: 10px;
        padding: 15px 25px;
        font-size: 16px;
        @media screen and (max-width: $breakpoint_tablet) {
          max-width: max-content;
          padding: 16px 30px;
        }
      }
    }
  }
}
