@use "../../../styles/variables" as *;

.key_metrics {
  padding-top: 130px;
  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }
  .content_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-image: url(../../../public/assets/images/home/lines-back.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 50px;
    border-radius: 25px;

    @media screen and (max-width: $breakpoint_tablet) {
      flex-direction: column;
      align-items: flex-start;
      padding: 40px;
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      padding: 30px;
      border-radius: 20px;
    }
  }

  /* LEFT SIDE */
  .left {
    width: 50%;
    @media screen and (max-width: $breakpoint_tablet) {
      width: 100%;
    }
    .sub_heading {
      font-size: 16px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin-bottom: 40px;
      font-weight: 500;
      display: block;
      color: $white_color;
      @media screen and (max-width: $breakpoint_tablet) {
        margin-bottom: 20px;
        font-size: 14px;
      }
    }

    .heading {
      font-size: 46px;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 45px;
      color: $white_color;
      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 32px;
        margin-bottom: 25px;
      }
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        font-size: 28px;
      }
    }
    a {
      border-radius: 15px 15px 15px 15px;
      padding: 22px 44px;
      font-size: 16px;
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        padding: 15px 25px;
        border-radius: 10px;
      }
    }
  }

  /* RIGHT SIDE */
  .right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 50%;
    @media screen and (max-width: $breakpoint_tablet) {
      width: 100%;
    }
  }

  .metric_box {
    display: flex;
    flex-direction: column;

    .value {
      font-size: 75px;
      line-height: 1;
      font-weight: 600;
      color: $white_color;
      margin-bottom: -30px;
      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 62px;
      }
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        font-size: 52px;
      }
    }

    .label {
      font-size: 20px;
      opacity: 0.9;
      margin-top: 6px;
      color: $white_color;
      background: rgba(0, 85, 190, 0.6);
      backdrop-filter: blur(2px);
      border-radius: 10px;
      padding: 12px;
      line-height: 1.5;
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        font-size: 14px;
      }
    }
  }
}
