@use "../../../../../../styles/variables" as *;

.core_services {
  padding-top: 130px;
  
  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }

  .section_wrapper {
    .section_header {
      margin: 0 auto 65px;
      max-width: 1000px;
      text-align: center;
      
      @media screen and (max-width: $breakpoint_tablet) {
        margin: 0 auto 50px;
      }
      
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        margin: 0 auto 40px;
      }

      h2 {
        color: $dark_color;
        font-size: 42px;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 20px;
        
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 38px;
        }
        
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 28px;
        }
      }

      p {
        font-size: 22px;
        line-height: 1.6;
        color: $gray_color;
        margin: 0;
        
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 18px;
        }
        
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 16px;
        }
      }
    }

    .services_container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 50px;
      
      @media screen and (max-width: $breakpoint_tablet) {
        gap: 40px;
      }
      
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        gap: 35px;
      }

      .service_item {
        display: grid;
        grid-template-columns: 1fr 200px;
        gap: 60px;
        align-items: center;
        position: relative;
        min-height: 280px;
        
        @media screen and (max-width: $breakpoint_tablet) {
          grid-template-columns: 1fr 180px;
          gap: 50px;
          min-height: 250px;
        }
        
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          grid-template-columns: 1fr;
          gap: 30px;
          min-height: auto;
        }

        &.left_align {
          .content_box {
            order: 1;
          }
          .icon_box {
            order: 2;
            justify-content: flex-end;
            
            @media screen and (max-width: $breakpoint_mobile_portrait) {
              order: -1;
              justify-content: start;
              margin-left: 20px;
            }
          }
        }

        &.right_align {
          grid-template-columns: 200px 1fr;
          
          @media screen and (max-width: $breakpoint_tablet) {
            grid-template-columns: 180px 1fr;
          }
          
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            grid-template-columns: 1fr;
          }

          .content_box {
            order: 2;
            text-align: right;
            
            @media screen and (max-width: $breakpoint_mobile_portrait) {
              order: 2;
              text-align: left;
            }
          }
          .icon_box {
            order: 1;
            justify-content: flex-start;
            
            @media screen and (max-width: $breakpoint_mobile_portrait) {
              order: -1;
              justify-content: start;
              margin-left: 20px;
            }
          }
        }

        &:hover {
          .icon_wrapper {
            transform: scale(1.15) rotate(10deg);
            background: linear-gradient(135deg, #0045ff 0%, #00a3ff 100%);
            box-shadow: 0 15px 40px rgba(0, 69, 255, 0.4);
            
            img {
              filter: brightness(0) invert(1);
            }
          }

          .number {
            color: $blue_color;
            transform: scale(1.2);
          }

          .content_box {
            transform: translateY(-5px);
          }
        }

        .content_box {
          background: $white_color;
          border-radius: 20px;
          padding: 45px 50px;
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.08);
          transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          border: 2px solid rgba(66, 115, 252, 0.05);
          position: relative;
          overflow: hidden;
          
          @media screen and (max-width: $breakpoint_tablet) {
            padding: 40px 45px;
          }
          
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            padding: 35px 30px;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: linear-gradient(90deg, #0045ff 0%, #00a3ff 100%);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.4s ease;
          }

          &:hover::before {
            transform: scaleX(1);
          }

          .number_section {
            margin-bottom: 20px;
            
            @media screen and (max-width: $breakpoint_mobile_portrait) {
              margin-bottom: 15px;
            }

            .number {
              font-size: 64px;
              font-weight: 800;
              line-height: 1;
              color: rgba(66, 115, 252, 0.15);
              transition: all 0.4s ease;
              display: inline-block;
              
              @media screen and (max-width: $breakpoint_tablet) {
                font-size: 56px;
              }
              
              @media screen and (max-width: $breakpoint_mobile_portrait) {
                font-size: 48px;
              }
            }
          }

          .text_content {
            h3 {
              color: $dark_color;
              font-size: 30px;
              font-weight: 600;
              line-height: 1.3;
              margin: 0 0 18px;
              
              @media screen and (max-width: $breakpoint_tablet) {
                font-size: 28px;
              }
              
              @media screen and (max-width: $breakpoint_mobile_portrait) {
                font-size: 24px;
                margin-bottom: 15px;
              }
            }

            p {
              font-size: 17px;
              line-height: 1.7;
              color: $gray_color;
              margin: 0;
              
              @media screen and (max-width: $breakpoint_tablet) {
                font-size: 16px;
              }
              
              @media screen and (max-width: $breakpoint_mobile_portrait) {
                font-size: 15px;
              }
            }
          }
        }

        .icon_box {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          z-index: 2;

          .icon_wrapper {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background: linear-gradient(135deg, rgba(66, 115, 252, 0.08) 0%, rgba(0, 163, 255, 0.08) 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            border: 3px solid rgba(66, 115, 252, 0.15);
            position: relative;
            
            @media screen and (max-width: $breakpoint_tablet) {
              width: 160px;
              height: 160px;
            }
            
            @media screen and (max-width: $breakpoint_mobile_portrait) {
              width: 80px;
              height: 80px;
            }

            &::after {
              content: "";
              position: absolute;
              inset: -10px;
              border-radius: 50%;
              border: 2px dashed rgba(66, 115, 252, 0.2);
              opacity: 0;
              transition: opacity 0.4s ease;
            }

            &:hover::after {
              opacity: 1;
            }

            img {
              width: 80px;
              height: 80px;
              transition: all 0.3s ease;
              filter: brightness(0) saturate(100%) invert(27%) sepia(95%) saturate(2598%) hue-rotate(214deg) brightness(101%) contrast(101%);
              
              @media screen and (max-width: $breakpoint_tablet) {
                width: 70px;
                height: 70px;
              }
              
              @media screen and (max-width: $breakpoint_mobile_portrait) {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
    }
  }
}
