@use "../../../../../../styles/variables" as *;

.real_results {
  padding-top: 130px;
  
  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }

  .section_wrapper {
    .section_header {
      margin: 0 auto 65px;
      max-width: 1000px;
      text-align: center;
      
      @media screen and (max-width: $breakpoint_tablet) {
        margin: 0 auto 50px;
      }
      
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        margin: 0 auto 40px;
      }

      h2 {
        color: $dark_color;
        font-size: 42px;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 20px;
        
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 38px;
        }
        
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 28px;
        }
      }

      p {
        font-size: 22px;
        line-height: 1.6;
        color: $gray_color;
        margin: 0;
        
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 18px;
        }
        
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 16px;
        }
      }
    }
    .content_wrapper {
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 30px;
      
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        gap: 25px;
      }
    .main_content {
      background: linear-gradient(135deg, rgba(0, 69, 255, 0.03) 0%, rgba(0, 163, 255, 0.03) 100%);
      border-radius: 12px;
      padding: 50px 60px;
      position: relative;
      border: 1px solid rgba(66, 115, 252, 0.1);
      overflow: hidden;
      
      @media screen and (max-width: $breakpoint_tablet) {
        padding: 40px 50px;
      }
      
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        padding: 35px 30px;
        border-radius: 12px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background: linear-gradient(90deg, #0045ff 0%, #00a3ff 100%);
      }

      &::after {
        content: "";
        position: absolute;
        top: -50%;
        right: -10%;
        width: 300px;
        height: 300px;
        background: radial-gradient(circle, rgba(0, 69, 255, 0.08) 0%, transparent 70%);
        border-radius: 50%;
      }

      .content_text {
        position: relative;
        z-index: 2;

        .description {
          font-size: 18px;
          line-height: 1.9;
          color: $gray_color;
          margin: 0;
          
          @media screen and (max-width: $breakpoint_tablet) {
            font-size: 17px;
          }
          
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            font-size: 16px;
          }
        }
      }
    }
  }
  }
}

