@use "../../../styles/variables" as *;

.awards {
  padding: 130px 0;
  @media screen and (max-width: $breakpoint_tablet) {
    padding: 100px 0;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding: 70px 0;
  }
  &.no_padding_bottom {
    padding-bottom: 0 !important;
  }

  .heading {
    text-align: center;
    margin-bottom: 50px;
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      margin-bottom: 30px;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    @media screen and (max-width: $breakpoint_tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      grid-template-columns: 1fr;
    }
    .card {
      background: $card_color;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .imageWrapper {
        background-color: #000;
        padding: 30px;
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }
}
