@use "../../../styles/variables" as *;

.case_studies {
  padding-top: 130px;
  
  overflow: hidden;
  
  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 100px;
  }
  
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 70px;
  }

  .section_wrapper {
    position: relative;

    .section_header {
      margin: 0 auto 60px;
      max-width: 900px;
      text-align: center;
      
      @media screen and (max-width: $breakpoint_tablet) {
        margin: 0 auto 50px;
      }
      
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        margin: 0 auto 40px;
      }

      h2 {
        color: $dark_color;
        font-size: 42px;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 20px;
        
        
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 36px;
        }
        
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 28px;
        }
      }

      p {
        font-size: 18px;
        line-height: 1.7;
        color: $gray_color;
        margin: 0;
        
        
        @media screen and (max-width: $breakpoint_tablet) {
          font-size: 17px;
        }
        
        @media screen and (max-width: $breakpoint_mobile_portrait) {
          font-size: 16px;
        }
      }
    }

    .cards_swiper {
      overflow: hidden;
    }

    .swiper_container {
      :global(.swiper-wrapper) {
        display: flex;
        flex-direction: row;
        column-gap: 1.4%;
        padding: 0 0 60px;
        
        @media screen and (max-width: 1199px) {
          column-gap: 20px;
        }
      }
    }

    .case_card {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: relative;
      background: linear-gradient(180deg, #3150B3 0%, #091336 100%);
      border-radius: 10px;
      width: 60vw;
      min-width: 314px;
      height: 454px;
      height: auto;
      transition: width 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96);
      
      @media screen and (min-width: 768px) {
        width: 42vw;
        height: 480px;
        height: auto;
      }
      
      @media screen and (min-width: 1200px) {
        width: 21.4%;
        min-width: 0;
        height: 32.4285714286rem;
      }

      &.active {
        @media screen and (min-width: 1200px) {
          width: 54.4%;
        }

        .card_content {
          @media screen and (min-width: 1200px) {
            opacity: 1;
          }
        }

        .card_image_section {
          @media screen and (min-width: 1200px) {
            width: 61%;
          }

          &::after {
            @media screen and (min-width: 1200px) {
              width: 100%;
              background: none;
            }
          }
        }

        .card_bottom_link {
          @media screen and (min-width: 1200px) {
            visibility: hidden;
            opacity: 0;
          }
        }
      }

      .card_image_section {
        position: relative;
        z-index: 1;
        width: 100%;
        transition: width 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96);
        background: linear-gradient(180deg, #3150B3 0%, #091336 100%);
        border-radius: 10px;
        
        @media screen and (min-width: 1200px) {
          &::after {
            content: "";
            width: 100%;
            height: 165px;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.31) 41.61%, #000 100%);
            border-radius: 0px 0px 10px 10px;
            transition: width 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96);
          }
        }

        .card_image {
          object-fit: cover;
          height: 194px;
          width: 100%;
          border-radius: 10px;
          
          @media screen and (min-width: 768px) {
            height: 250px;
          }
          
          @media screen and (min-width: 1200px) {
            height: 32.4285714286rem;
            border-radius: 10px;
            transition: width 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96), max-width 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96);
          }
        }
      }

      .card_content {
        padding: 20px 16px;
        
        @media screen and (min-width: 1200px) {
          position: absolute;
          right: 0px;
          height: 100%;
          width: 19.5vw;
          max-height: 32.4285714286rem;
          padding: 35px 20px 30px;
          opacity: 0;
          transition: opacity 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96), width 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96);
        }

        .content_tags {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin: 0 0 15px;
          
          @media screen and (min-width: 1200px) {
            margin: 0 0 40px;
          }

          .tag {
            font-weight: 500;
            text-transform: uppercase;
            padding: 6px 16px;
            border-radius: 2rem;
            font-size: 12px;
            
            
            @media screen and (min-width: 1200px) {
              font-size: 13px;
            }

            &.tag_first {
              background: linear-gradient(268.09deg, #0045FF 0%, #00A3FF 100%);
              color: #fff;
            }

            &.tag_other {
              background: rgba(244, 245, 245, 1);
              color: #0f0f10;
            }
          }
        }

        .content_title {
          font-weight: 500;
          padding: 0 0 40px;
          font-size: 20px;
          line-height: 1.4;
          color: $dark_color;
          margin: 0;
          
          
          @media screen and (min-width: 1200px) {
            font-size: 22px;
            color: $white_color;
          }
          
          @media screen and (max-width: $breakpoint_mobile_portrait) {
            font-size: 18px;
            padding: 0 0 30px;
          }
        }

        .content_link {
          position: absolute;
          bottom: 17px;
          right: 13px;
          
          @media screen and (min-width: 1200px) {
            bottom: 25px;
            right: 20px;
          }

          a {
            display: flex;
            align-items: center;
            column-gap: 15px;
            font-size: 16px;
            font-weight: 600;
            color: #0f0f10;
            transition: color 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
            text-decoration: none;
            
            
            @media screen and (min-width: 1200px) {
              color: $white_color;
            }

            .content_link_icon {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              background: $white_color;
              border-radius: 50%;
              
              @media screen and (min-width: 1200px) {
                background: $white_color;
              }

              svg {
                height: 20px;
                width: 20px;
                
                path {
                  @media screen and (min-width: 1200px) {
                    &:nth-child(1),
                    &:nth-child(2) {
                      fill: #0f0f10;
                    }
                    &:nth-child(3) {
                      fill: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .card_bottom_link {
        display: none;
        
        @media screen and (min-width: 1200px) {
          display: block;
          position: absolute;
          z-index: 2;
          bottom: 25px;
          right: 20px;
          transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
        }

        a {
          display: flex;
          align-items: center;
          column-gap: 15px;
          font-size: 16px;
          font-weight: 600;
          color: #fff;
          text-decoration: none;
          

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $white_color;

            svg {
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }

    .view_more_wrapper {
      display: flex;
      justify-content:center;
    a{
      padding: 17px 28px;
      font-size: 16px;
      box-shadow: none;
    }
    }
  }
}
