.button_wrapper {
  background: linear-gradient(90deg, #00a3ff 0%, #0045ff 100%);
  background-size: 200% 200%;
  background-position: left center;
  box-shadow: 7px 9px 21.6px 0 rgba(0, 69, 255, 0.25);
  border: none;
  border-radius: 15px;
  padding: 20px 30px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: max-content;
  cursor: pointer;

  transition: transform 0.35s ease, box-shadow 0.35s ease,
    background-position 0.5s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 7px 9px 21.6px 0 rgba(0, 69, 255, 0.25);
    background-position: right center;
  }

  &:active {
    transform: translateY(0);
    box-shadow: 7px 9px 21.6px 0 rgba(0, 69, 255, 0.25);
  }

  img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
  }

  &:hover img {
    transform: translateX(4px);
  }

  /* Secondary button */
  &.secondary {
    background: #fff;
    color: #000;
    box-shadow: 7px 9px 21.6px rgba(0, 0, 0, 0.15);
    transition: transform 0.35s ease, box-shadow 0.35s ease,
      background 0.5s ease;

    img {
      filter: invert(1);
      transition: filter 0.3s ease, transform 0.3s ease;
      transition: transform 0.3s ease;
    }

    &:hover {
      background: #000;
      color: #fff;
      box-shadow: 12px 16px 32px rgba(0, 0, 0, 0.35);

      img {
        filter: none;
        transform: translateX(4px);
      }
    }
  }
}
