@use "../../../styles/variables" as *;

.about_devtrios {
  padding-top: 100px;
  @media screen and (max-width: $breakpoint_tablet) {
    padding-top: 70px;
  }
  @media screen and (max-width: $breakpoint_mobile_portrait) {
    padding-top: 50px;
  }
  .content_wrapper {
    background-color: $card_color;
    border-radius: 30px;
    padding: 40px;
    text-align: center;
    @media screen and (max-width: $breakpoint_mobile_portrait) {
      padding: 25px;
    }
    h3 {
      color: $dark_color;
      font-size: 38px;
      font-weight: 500;
      line-height: 1.4;
      margin-bottom: 20px;
      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 30px;
      }
      @media screen and (max-width: $breakpoint_mobile_portrait) {
        font-size: 28px;
      }
      span {
        color: $blue_color;
        font-weight: 700;
      }
    }
    p {
      font-size: 18px;
      font-weight: 400;
      color: $gray_color;
      line-height: 1.6;
      margin: 0;
      @media screen and (max-width: $breakpoint_tablet) {
        font-size: 16px;
      }
    }
  }
}
